@import './reset.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  --sky-blue: #68a0fa;
  --pale-olive-green: #90d26c;
  --dark: #2a2d3b;
  --bluey-grey: #9198af;
  --light-yellowish-green: #dbff90;
  --white-two: #fff;
  --white: #e1e1e1;
  --very-light-pink: #fff3f2;
  --pale-grey: #e4e7f4;
  --black-8: rgba(0, 0, 0, 0.08);
  --black-8-16: rgba(0, 0, 0, 0.16);

  --color-text: var(--dark);
  --color-primary: #fa7268;
  --color-secondary: var(--light-yellowish-green);
  --color-background: #f8f9fd;

  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-secondary);
  }
}