@import './reset.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  --color-text: #2a2d3b;
  --color-primary: #fa7268;
  --color-secondary: #dbff90;
  --color-bluey-grey: #9198af;
  --color-pale-grey: #e4e7f4;
  --color-light-primary: #fff3f2;
  --color-background: #f8f9fd;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  &:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}